<h1>Make a new Survey</h1>

<form action="/create" method="post">
  <label for="name">Survey Name</label>
  <input type="text" name="name">
  <button type="submit">Add!</button>
</form>




<a href="/">Home</a>
